@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);
  --color-popover: var(--color-popover);
  --color-popover-foreground: var(--color-popover-foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);
  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);
  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);
  --color-destructive: var(--color-destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);
  --color-border: var(--color-border);
  --color-input: var(--color-input);
  --color-input-background: var(--color-input-background);
  --color-ring: var(--color-ring);
  --color-chart-1: var(--color-chart-1);
  --color-chart-2: var(--color-chart-2);
  --color-chart-3: var(--color-chart-3);
  --color-chart-4: var(--color-chart-4);
  --color-chart-5: var(--color-chart-5);
  --color-sidebar: var(--color-sidebar);
  --color-sidebar-foreground: var(--color-sidebar-foreground);
  --color-sidebar-primary: var(--color-sidebar-primary);
  --color-sidebar-primary-foreground: var(--color-sidebar-primary-foreground);
  --color-sidebar-accent: var(--color-sidebar-accent);
  --color-sidebar-accent-foreground: var(--color-sidebar-accent-foreground);
  --color-sidebar-border: var(--color-sidebar-border);
  --color-sidebar-ring: var(--color-sidebar-ring);
  --color-brand-50: var(--color-brand-50);
  --color-brand-100: var(--color-brand-100);
  --color-brand-200: var(--color-brand-200);
  --color-brand-300: var(--color-brand-300);
  --color-brand-400: var(--color-brand-400);
  --color-brand-500: var(--color-brand-500);
  --color-brand-600: var(--color-brand-600);
  --color-brand-700: var(--color-brand-700);
  --color-brand-800: var(--color-brand-800);
  --color-brand-900: var(--color-brand-900);
  --color-brand-950: var(--color-brand-950);
  --color-brand-lime: var(--color-brand-lime);
  --color-zinc-50: var(--color-zinc-50);
  --color-zinc-100: var(--color-zinc-100);
  --color-zinc-200: var(--color-zinc-200);
  --color-zinc-300: var(--color-zinc-300);
  --color-zinc-400: var(--color-zinc-400);
  --color-zinc-500: var(--color-zinc-500);
  --color-zinc-600: var(--color-zinc-600);
  --color-zinc-700: var(--color-zinc-700);
  --color-zinc-800: var(--color-zinc-800);
  --color-zinc-900: var(--color-zinc-900);
  --color-zinc-950: var(--color-zinc-950);
  --color-red-50: var(--color-red-50);
  --color-red-100: var(--color-red-100);
  --color-red-200: var(--color-red-200);
  --color-red-300: var(--color-red-300);
  --color-red-400: var(--color-red-400);
  --color-red-500: var(--color-red-500);
  --color-red-600: var(--color-red-600);
  --color-red-700: var(--color-red-700);
  --color-red-800: var(--color-red-800);
  --color-red-900: var(--color-red-900);
  --color-red-950: var(--color-red-950);
  --color-green-50: var(--color-green-50);
  --color-green-100: var(--color-green-100);
  --color-green-200: var(--color-green-200);
  --color-green-300: var(--color-green-300);
  --color-green-400: var(--color-green-400);
  --color-green-500: var(--color-green-500);
  --color-green-600: var(--color-green-600);
  --color-green-700: var(--color-green-700);
  --color-green-800: var(--color-green-800);
  --color-green-900: var(--color-green-900);
  --color-green-950: var(--color-green-950);
  --color-blue-50: var(--color-blue-50);
  --color-blue-100: var(--color-blue-100);
  --color-blue-200: var(--color-blue-200);
  --color-blue-300: var(--color-blue-300);
  --color-blue-400: var(--color-blue-400);
  --color-blue-500: var(--color-blue-500);
  --color-blue-600: var(--color-blue-600);
  --color-blue-700: var(--color-blue-700);
  --color-blue-800: var(--color-blue-800);
  --color-blue-900: var(--color-blue-900);
  --color-blue-950: var(--color-blue-950);
  --color-amber-50: var(--color-amber-50);
  --color-amber-100: var(--color-amber-100);
  --color-amber-200: var(--color-amber-200);
  --color-amber-300: var(--color-amber-300);
  --color-amber-400: var(--color-amber-400);
  --color-amber-500: var(--color-amber-500);
  --color-amber-600: var(--color-amber-600);
  --color-amber-700: var(--color-amber-700);
  --color-amber-800: var(--color-amber-800);
  --color-amber-900: var(--color-amber-900);
  --color-amber-950: var(--color-amber-950);
  --color-indigo-50: var(--color-indigo-50);
  --color-indigo-100: var(--color-indigo-100);
  --color-indigo-200: var(--color-indigo-200);
  --color-indigo-300: var(--color-indigo-300);
  --color-indigo-400: var(--color-indigo-400);
  --color-indigo-500: var(--color-indigo-500);
  --color-indigo-600: var(--color-indigo-600);
  --color-indigo-700: var(--color-indigo-700);
  --color-indigo-800: var(--color-indigo-800);
  --color-indigo-900: var(--color-indigo-900);
  --color-indigo-950: var(--color-indigo-950);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --shadow-sm: var(--shadow-sm);
  --shadow-base: var(--shadow-base);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-inner: var(--shadow-inner);
  --shadow-none: var(--shadow-none);
  --spacing-0: var(--spacing-0);
  --spacing-1: var(--spacing-1);
  --spacing-2: var(--spacing-2);
  --spacing-3: var(--spacing-3);
  --spacing-4: var(--spacing-4);
  --spacing-5: var(--spacing-5);
  --spacing-6: var(--spacing-6);
  --spacing-8: var(--spacing-8);
  --spacing-10: var(--spacing-10);
  --spacing-11: var(--spacing-11);
  --spacing-12: var(--spacing-12);
  --spacing-16: var(--spacing-16);
  --spacing-20: var(--spacing-20);
  --spacing-24: var(--spacing-24);
  --spacing-32: var(--spacing-32);
  --spacing-40: var(--spacing-40);
  --spacing-48: var(--spacing-48);
  --spacing-56: var(--spacing-56);
  --spacing-64: var(--spacing-64);
  --color-borderRadius-none: var(--borderRadius-none);
  --color-borderRadius-sm: var(--borderRadius-sm);
  --color-borderRadius-base: var(--borderRadius-base);
  --color-borderRadius-md: var(--borderRadius-md);
  --color-borderRadius-lg: var(--borderRadius-lg);
  --color-borderRadius-xl: var(--borderRadius-xl);
  --color-borderRadius-2xl: var(--borderRadius-2xl);
  --color-borderRadius-3xl: var(--borderRadius-3xl);
  --color-borderRadius-full: var(--borderRadius-full);
  --color-borderWidth-0: var(--borderWidth-0);
  --color-borderWidth-1: var(--borderWidth-1);
  --color-borderWidth-2: var(--borderWidth-2);
  --color-borderWidth-4: var(--borderWidth-4);
  --color-borderWidth-8: var(--borderWidth-8);
  --font-brand: var(--fontFamily-brand);
  --font-sans: var(--fontFamily-sans);
  --font-serif: var(--fontFamily-serif);
  --font-mono: var(--fontFamily-mono);
  --text-xs: var(--fontSize-xs);
  --text-sm: var(--fontSize-sm);
  --text-base: var(--fontSize-base);
  --text-lg: var(--fontSize-lg);
  --text-xl: var(--fontSize-xl);
  --text-2xl: var(--fontSize-2xl);
  --text-3xl: var(--fontSize-3xl);
  --text-4xl: var(--fontSize-4xl);
  --text-5xl: var(--fontSize-5xl);
  --text-6xl: var(--fontSize-6xl);
  --text-7xl: var(--fontSize-7xl);
  --text-8xl: var(--fontSize-8xl);
  --text-9xl: var(--fontSize-9xl);
  --fontWeight-thin: var(--fontWeight-thin);
  --fontWeight-extralight: var(--fontWeight-extralight);
  --fontWeight-light: var(--fontWeight-light);
  --fontWeight-normal: var(--fontWeight-normal);
  --fontWeight-medium: var(--fontWeight-medium);
  --fontWeight-semibold: var(--fontWeight-semibold);
  --fontWeight-bold: var(--fontWeight-bold);
  --fontWeight-extrabold: var(--fontWeight-extrabold);
  --fontWeight-black: var(--fontWeight-black);
  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);
}